

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron text-center">
    <h1>My Ugly Bootstrap Page</h1>
    <p>Resize <span class="btn-warning">this responsive page</span> to see the effect!</p>
    <p><abbr title="Claustraphobic Listening Assessment Spicy Sauce">Class</abbr> <mark class="text-danger">row</mark> and <mark class="text-danger">col-sm-4</mark> work together to organze and size the page into row/column sections</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3 class="btn-warning">Column 1</h3>
            <p>
                <pre>The bootstrap <mark class="text-danger">container</mark> class
features a responsive fixed width 
column size...</pre>
            </p>
            <p class="alert alert-success alert-dismissible">Ut enim ad..</p>
        </div>
        <div class="col-sm-4">
            <h3 class="btn-info">Column 2</h3>
            <p>
                <pre>The elements adjust to the width 
of the screen...</pre>
            </p>
            <p class="alert alert-warning">Ut enim ad..</p>
        </div>
        <div class="col-sm-4">
            <h3 class="btn-primary">Column 3</h3>
            <p>
                <pre>Wide screens will display all elements on the 
same row, while narrow screens will stack the 
elements vertically.</pre>
            </p>
            <p class="alert alert-info">Ut enim ad..</p>
        </div>
    </div>
</div>


<div class="alert alert-info alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Alert!</strong> This is a dismissible alert example...
</div>
