@{
    ViewBag.Title = "About Lab1";
    ViewBag.Author = "Author : David Russell";
    ViewBag.Class = "Class : CST356";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional info.</p>

<p>@ViewBag.Author  &nbsp | &nbsp  @ViewBag.Class</p>