
body {
    font-family: 'Bookman Old Style';
    font-size: 20px;
    color: purple;
    background-color: bisque;
}
header {
    background-color: tan;
    color: darkred;
    height: 40px;
    padding: 10px 0px 70px 90px;
}
nav {
    background-color: blanchedalmond;
    color: lightgreen;
    height: 40px;
    padding: 25px 0px 10px 110px;
}
.dark {
    color : #707070;
    font-style: italic;
    background-color: #0f0f0f;
    padding: 5%;
}
.form-entry {
    color : #aaaaaa;
    background-color: #303030;
    padding-top: 30px;
    padding-bottom: 30px;
}
.table-entry {
    color: #c0c0c0;
    background-color: #303030;
    padding-top: 10px;
    padding-bottom: 10px;
}
.light-border {
    border: 8px solid lightgrey;
    border-radius:20px;
}
